<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link rel="shortcut icon" href="img/favicon.png">
	
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>

	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index.html" class="logo"><h1>KeyShare</h1></a>
			</div>
			<div class="panel-control-right">
				<a href="contact.html"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- page 404 -->
	<div class="page-404 app-pages app-section">
		<div class="container">
			<h3>4<span>0</span>4</h3>
			<h6>Oops! Sorry, we could not find the page</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam adipisci dolore alias quod doloremque laborum, sit, magni nulla aliquid sint repellat non saepe at nihil sapiente sunt, facilis ex corrupti?</p>
			<a class="button" href="index.html">Back to Home Page</a>
		</div>
	</div>
	<!-- end page 404 -->
	
	<!-- footer -->
	<!-- end footer -->
	
	<!-- script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>

</body>
</html> 