<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">

	<link rel="shortcut icon" href="/static/img/favicon.png">

	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/slick.css">
	<link rel="stylesheet" href="/static/css/slick-theme.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/owl.transitions.css">
	<link rel="stylesheet" href="/static/css/lightbox.min.css">
	<link rel="stylesheet" href="/static/css/contact.css">
	<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

	<!-- navbar 最顶上的那个-->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index" class="logo">
					<h1>KeyShare</h1>
				</a>
			</div>
			<div class="panel-control-right">
				<a href="contact"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- panel control -->
	<div class="panel-control-left">
		<ul id="slide-out-left" class="side-nav collapsible" data-collapsible="accordion">
			<li>
				<div class="photos">
					<img src="/static/img/tx.jpeg" alt="">
					<h3>用户名</h3>
					<p>地址</p>
				</div>
			</li>
			<li class="first-list">
				<a href="index">首页</a>
			</li>
			<li>
				<a href="key">我的钥匙</a>
			</li>
			<li>
				<a href="shareKey">共享大厅</a>
			</li>
			<li>
				<a href="addKey">添加钥匙</a>
			</li>

			<li>
				<a href="portfolio">文件夹</a>
			</li>
			<li>
				<a href="information">个人中心</a>
			</li>
			<li>
				<a href="contact">联系我们</a>
			</li>
			<li>
				<a href="#">退出账号</a>
			</li>
		</ul>
	</div>
	<!-- end panel control -->

	<!-- contact-->
	<div class="contact app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>联系我们</h3>
			</div>
			<form action="#">
				<div class="input-field">
					<input id="name" type="text" class="validate">
					<label for="name">名称</label>
				</div>
				<div class="input-field">
					<input id="email" type="email" class="validate">
					<label for="email">邮箱</label>
				</div>
				<div class="input-field">
					<input id="address" type="text" class="validate">
					<label for="address">地址</label>
				</div>
				<div class="input-field">
					<textarea cols="20" rows="10" id="your_message" class="validate"></textarea>
					<label for="your_message">具体描述</label>
				</div>
				<!-- <button class="button">提交</button> -->
				<div id="contact_but_big_div">
					<div></div>
					<input id="contact_but_input" type="button" value="提交">
					<div></div>
				</div>
			</form>
		</div>
	</div>
	<!-- end contact -->

	<!-- footer -->
	<!-- end footer -->

	<!-- script -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/slick.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/alert.js"></script>
	<script src="/static/js/contract.js"></script>

</body>

</html>