<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">

	<link rel="shortcut icon" href="/static/img/favicon.ico">

	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/slick.css">
	<link rel="stylesheet" href="/static/css/slick-theme.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/owl.transitions.css">
	<link rel="stylesheet" href="/static/css/lightbox.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- http://localhost:8080/static/css/addKey.css -->
</head>

<body>

	<!-- navbar 最顶上的那个-->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index" class="logo">
					<h1>KeyShare</h1>
				</a>
			</div>
			<div class="panel-control-right">
				<a href="contact"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- panel control -->
	<div class="panel-control-left">
		<ul id="slide-out-left" class="side-nav collapsible" data-collapsible="accordion">
			<li>
				<div class="photos">
					<img src="/static/img/tx.jpeg" alt="">
					<h3>用户名</h3>
					<p>地址</p>
				</div>
			</li>
			<li class="first-list">
				<a href="index">首页</a>
			</li>
			<li>
				<a href="key">我的钥匙</a>
			</li>
			<li>
				<a href="shareKey">共享大厅</a>
			</li>
			<li>
				<a href="addKey">添加钥匙</a>
			</li>

			<li>
				<a href="portfolio">文件夹</a>
			</li>
			<li>
				<a href="information">个人中心</a>
			</li>
			<li>
				<a href="contact">联系我们</a>
			</li>
			<li>
				<a href="#">退出账号</a>
			</li>
		</ul>
	</div>
	<!-- end panel control -->

	<!-- slider 轮播图 -->
	<div class="slider-slick app-pages">
		<div class="slider-entry">

			<img src="/static/img/slider01.jpeg" alt="">
			<div class="overlay"></div>
			<div class="caption">
				<div class="container">
					<h2>便捷</h2>
					<p>方便快捷得管理你的钥匙</p>
					<!-- <button class="button">按钮</button> -->
				</div>
			</div>
		</div>
		<div class="slider-entry">
			<div class="overlay"></div>
			<img src="/static/img/slider02.jpeg" alt="">
			<div class="caption">
				<div class="container">
					<h2>安全</h2>
					<p>通过区块链保护你的账号密码安全</p>
					<!-- <button class="button">Read More</button> -->
				</div>
			</div>
		</div>
		<div class="slider-entry">
			<div class="overlay"></div>
			<img src="/static/img/slider03.jpeg" alt="">
			<div class="caption">
				<div class="container">
					<h2>共享</h2>
					<p>充分利用闲置资源,便利大家的生活</p>
					<!-- <button class="button">Read More</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- end slider -->


	<!-- offers -->
	<div class="offers app-section">
		<div class="container">
			<div class="offers-content" data-url="/key">
				<div class="row">
					<div class="col s4">
						<div class="icon icon1">
							<i class="fa fa-heart"></i>
						</div>
					</div>
					<div class="col s8">
						<div class="entry">
							<h5>我的钥匙</h5>
							<p>我所拥有的钥匙</p>
						</div>
					</div>
				</div>
			</div>
			<div class="offers-content" data-url="/myshare">
				<div class="row">
					<div class="col s4">
						<div class="icon icon2">
							<i class="fa fa-send"></i>
						</div>
					</div>
					<div class="col s8">
						<div class="entry">
							<h5>我的共享</h5>
							<p>我向别人借用的钥匙</p>
						</div>
					</div>
				</div>
			</div>
			<div class="offers-content" data-url="/keyshare">
				<div class="row row-margin">
					<div class="col s4">
						<div class="icon icon3">
							<i class="fa fa-support"></i>
						</div>
					</div>
					<div class="col s8">
						<div class="entry">
							<h5>共享大厅</h5>
							<p>我借别人使用的钥匙</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end offers -->

	<!-- note -->
	<!-- <div class="note app-section">
		<div class="container">
			<h5>Amazing Design</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt numquam possimus suscipit facere, delectus, quaerat voluptatibus architecto mollitia.</p>
		</div>
	</div> -->
	<!-- end note -->

	<!-- portfolio -->
	<div class="portfolio note app-section app-bg-dark" style="background-color: #14a8ff;">
		<div class="container">
			<div class="container">
				<h5>共享钥匙</h5>
				<p>它可以很好得保护你的密码。<br>
					你可以将自己的钥匙共享给他人.<br>
					你还能够与他人沟通使用他人的钥匙
				</p>
			</div>
			<!-- <div class="app-title">
				<h4>Portfolio</h4>
				<div class="line"></div>
			</div> -->
			<!-- <ul class="portfolio-filter">
				<li data-filter="all" class="active">All</li>
				<li data-filter="1">Nature</li>
				<li data-filter="2">Abstract</li>
				<li data-filter="3">Objects</li>
			</ul> -->
			<div class="portfolio-item">
				<div class="row">
					<div class="col s6 filtr-item" data-category="1, 2">
						<!-- <a href="img/portfolio1.jpg" data-lightbox="image-1"><img src="img/portfolio1.jpg" alt=""></a> -->
					</div>
					<div class="col s6 filtr-item" data-category="2, 3">
						<!-- <a href="img/portfolio2.jpg" data-lightbox="image-1"><img src="img/portfolio2.jpg" alt=""></a> -->
					</div>
				</div>
				<div class="row">
					<div class="col s6 filtr-item" data-category="3, 3">
						<!-- <a href="img/portfolio3.jpg" data-lightbox="image-1"><img src="img/portfolio3.jpg" alt=""></a> -->
					</div>
					<div class="col s6 filtr-item" data-category="3, 1">
						<!-- <a href="img/portfolio4.jpg" data-lightbox="image-1"><img src="img/portfolio4.jpg" alt=""></a> -->
					</div>
				</div>
				<div class="row">
					<div class="col s6 filtr-item" data-category="2">
						<!-- <a href="img/portfolio5.jpg" data-lightbox="image-1"><img src="img/portfolio5.jpg" alt=""></a> -->
					</div>
					<div class="col s6 filtr-item" data-category="2, 1">
						<!-- <a href="img/portfolio6.jpg" data-lightbox="image-1"><img src="img/portfolio6.jpg" alt=""></a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

	<!-- features 特征 -->
	<div class="features app-section">
		<div class="container">
			<div class="app-title">
				<h4>特征</h4>
				<div class="line"></div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-laptop"></i>
						<h5>Responsive</h5>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-code"></i>
						<h5>Clean Code</h5>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
			</div>
			<div class="row row-margin">
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-cog"></i>
						<h5>Easy Edit</h5>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-lightbulb-o"></i>
						<h5>Fresh Idea</h5>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end features -->

	<!-- note -->
	<div class="note app-section">
		<div class="container">
			<h5>Stunning Design</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt numquam possimus suscipit facere,
				delectus, quaerat voluptatibus architecto mollitia.</p>
		</div>
	</div>
	<!-- end note -->


	<!-- footer -->
	<!-- end footer -->

	<!-- script -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- 第一时间获取当前用户信息 -->
	<script src="/static/js/getUser.js"></script>
	<!-- ajax封装 -->
	<script src="/static/js/ajaxFunc.js"></script>
	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/slick.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/jquery.filterizr.min.js"></script>
	<script src="/static/js/lightbox.min.js"></script>
	<script src="/static/js/custom-portfolio.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/alert.js"></script>
	<script src="/static/js/index.js"></script>
</body>

</html>