<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link rel="shortcut icon" href="img/favicon.png">
	
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>

	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index.html" class="logo"><h1>KeyShare</h1></a>
			</div>
			<div class="panel-control-right">
				<a href="contact.html"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- panel control -->
	<div class="panel-control-left">
		<ul id="slide-out-left" class="side-nav collapsible"  data-collapsible="accordion">
			<li>
				<div class="photos">
					<img src="img/tx.jpeg" alt="">
					<h3>用户名</h3>
				</div>
			</li>
			<li class="first-list">
				<a href="index.html">家</a>
			</li>
			<li>
				<a href="shareKey.html">共享大厅</a>
			</li>
			<li>
				<a href="portfolio.html">文件夹</a>
			</li>
			<li>
				<a href="key.html">钥匙</a>
			</li>
			<li>
				<a href="information.html">我的信息</a>
			</li>
			<li>
				<a href="contact.html">联系我们</a>
			</li>
			<li>
				<a href="login.html">登陆</a>
			</li>
			<li>
				<a href="register.html">注册</a>
			</li>
			<li>
				<a href="addKey.html">添加账号</a>
			</li>
			<li>
				<a href="#">退出账号</a>
			</li>
		</ul>
	</div>
	<!-- end panel control -->
	
	<!-- note -->
	<div class="note app-section">
		<div class="container">
		</div>
	</div>
	<!-- end note -->
	<!-- latest news -->
	<div class="latest-news app-section">
		<div class="container">
			<div class="app-title">
				<h4>最新消息</h4>
				<div class="line"></div>
			</div>
			<div class="row">
				<div class="col s5">
					<img src="img/blog1.jpg" alt="">
				</div>
				<div class="col s7">
					<div class="entry">
						<h5><a href="">Improve your Coding</a></h5>
						<span>12 Jun 2017</span>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s5">
					<img src="img/blog2.jpg" alt="">
				</div>
				<div class="col s7">
					<div class="entry">
						<h5><a href="">Improve your Coding</a></h5>
						<span>12 Jun 2017</span>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s5">
					<img src="img/blog3.jpg" alt="">
				</div>
				<div class="col s7">
					<div class="entry">
						<h5><a href="">Improve your Coding</a></h5>
						<span>12 Jun 2017</span>
						<p>Lorem ipsum dolor sit amet consectetur </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->
	
	<!-- script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>