<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	
	<link rel="shortcut icon" href="img/favicon.png">
	
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>

	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index.html" class="logo"><h1>KeyShare</h1></a>
			</div>
			<div class="panel-control-right">
				<a href="contact.html"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	
	<!-- panel control -->
	<div class="panel-control-left">
		<ul id="slide-out-left" class="side-nav collapsible"  data-collapsible="accordion">
			<li>
				<div class="photos">
					<img src="img/tx.jpeg" alt="">
					<h3>用户名</h3>
				</div>
			</li>
			<li class="first-list">
				<a href="index.html">家</a>
			</li>
			<li>
				<a href="shareKey.html">共享大厅</a>
			</li>
			<li>
				<a href="portfolio.html">文件夹</a>
			</li>
			<li>
				<a href="key.html">钥匙</a>
			</li>
			<li>
				<a href="information.html">我的信息</a>
			</li>
			<li>
				<a href="contact.html">联系我们</a>
			</li>
			<li>
				<a href="login.html">登陆</a>
			</li>
			<li>
				<a href="register.html">注册</a>
			</li>
			<li>
				<a href="addKey.html">添加账号</a>
			</li>
			<li>
				<a href="#">退出账号</a>
			</li>
		</ul>
	</div>
	<!-- end panel control -->

	<!-- portfolio -->
	<div class="portfolio app-pages app-section">
		<div class="container">
			<div class="pages-title">
				<h3>Portfolio</h3>
			</div>
			<ul class="portfolio-filter">
				<li data-filter="all" class="active">All</li>
				<li data-filter="1">Nature</li>
				<li data-filter="2">Abstract</li>
				<li data-filter="3">Objects</li>
			</ul>
			<div class="portfolio-item">
				<div class="row">
					<div class="col s6 filtr-item" data-category="1, 2">
						<a href="img/portfolio1.jpg" data-lightbox="image-1"><img src="img/portfolio1.jpg" alt=""></a>
					</div>
					<div class="col s6 filtr-item" data-category="2, 3">
						<a href="img/portfolio2.jpg" data-lightbox="image-1"><img src="img/portfolio2.jpg" alt=""></a>
					</div>
				</div>
				<div class="row">
					<div class="col s6 filtr-item" data-category="3, 3">
						<a href="img/portfolio3.jpg" data-lightbox="image-1"><img src="img/portfolio3.jpg" alt=""></a>
					</div>
					<div class="col s6 filtr-item" data-category="3, 1">
						<a href="img/portfolio4.jpg" data-lightbox="image-1"><img src="img/portfolio4.jpg" alt=""></a>
					</div>
				</div>
				<div class="row">
					<div class="col s6 filtr-item" data-category="2">
						<a href="img/portfolio5.jpg" data-lightbox="image-1"><img src="img/portfolio5.jpg" alt=""></a>
					</div>
					<div class="col s6 filtr-item" data-category="2, 1">
						<a href="img/portfolio6.jpg" data-lightbox="image-1"><img src="img/portfolio6.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->
	
	<!-- footer -->
	<!-- end footer -->
	
	<!-- script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.filterizr.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/custom-portfolio.js"></script>
	<script src="js/custom.js"></script>

</body>
</html>