<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Key Share</title>
	<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">

	<link rel="shortcut icon" href="/static/img/favicon.png">

	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/slick.css">
	<link rel="stylesheet" href="/static/css/slick-theme.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/owl.theme.css">
	<link rel="stylesheet" href="/static/css/owl.transitions.css">
	<link rel="stylesheet" href="/static/css/lightbox.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/register.css">

</head>

<body>

	<!-- navbar -->
	<div class="navbar">
		<div class="container">
			<div class="panel-control-left">
				<a href="#" data-activates="slide-out-left" class="sidenav-control"><i class="fa fa-bars"></i></a>
			</div>
			<div class="site-title">
				<a href="index" class="logo">
					<h1>KeyShare</h1>
				</a>
			</div>
			<div class="panel-control-right">
				<a href="#"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>
	<!-- end navbar -->

	<!-- register-->
	<div class="register app-pages app-section">
		<div class="container" class="verification">
			<div class="pages-title">
				<h3>注册</h3>
			</div>
			<form action="#">
				<div class="input-field">
					<input id="address" type="text" class="validate">
					<label for="address">地址</label>
				</div>
				<div class="input-field">
					<input id="mnemonic" type="text" class="validate">
					<label for="mnemonic">私钥（助记词）</label>
				</div>
				<div class="input-field">
					<input id="account" type="text" class="validate">
					<label for="account">用户名</label>
				</div>
				<div class="input-field">
					<input id="email" type="email" class="validate">
					<label for="email">邮箱</label>
				</div>
				<div class="input-field">
					<input id="password" type="password" class="validate">
					<label for="password">密码</label>
				</div>
				<div class="input-field">
					<input id="repassword" type="password" class="validate">
					<label for="repassword">确认密码</label>
				</div>
				<div class="verificationCode">
					<div class="code">
						<div>
							<input type="text" id="verify" placeholder="验证码" value="" style="text-align: center;">
						</div>
						<input type="button" id="verify_btn" value="获取验证码" style="width:25%;
					height: 30px;text-align: 30px;
					color: white;
					background-color: rgb(29, 202, 199);
					border: 0;
					border-radius: 5px;">
					</div>
				</div>

				<button id="register_btn" class="button">注册</button>
				<strong class="login-now">你已经注册了? <a href="login">现在登陆</a></strong>
			</form>
			<div class="or">
				<h5>或者</h5>
				<!-- <button class="button facebook" id="register_type">使用地址注册</button> -->
				<!-- <input id="register_type" type="button" value="创建地址注册" style="width:100%;
				height: 30px;
				text-align: 30px;
				color: white;
				background-color: rgb(144, 202, 29);
				border: 0;
				border-radius: 5px;"> -->
				<button id="register_type" ind="registerToAddress" class="button" onclick="registerType(this)">使用地址注册</button>
			</div>
		</div>
	</div>
	<!-- end register -->

	<!-- footer -->
	<!-- end footer -->

	<!-- script -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/slick.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/register.js"></script>

</body>

</html>